:root {
    --main_background: #333233;
    --main_text: #fdfdfd;
}

@font-face {
    font-family: Bagnard-Serif;
    src: url(assets/typefaces/Bagnard-Serif-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BDOGrotesk;
    src: url(assets/typefaces/BDOGrotesk-Light.otf);
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--main_background);
}

/*region Header*/
.header-title {
    color: var(--main_text);
    font-family: Bagnard-Serif;
    font-size: 81px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.topnav {
    /*background-color: #333;*/
    overflow: hidden;
}

.topnav h2 {
    float: left;
    color: var(--main_text);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-family: BDOGrotesk;
}
/*endregion*/

.project-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5%;
    width: 60%;
    margin: 0 auto;

}

.project-grid-item {
    text-align: left;
    align-items: center;
    justify-content: center;
}

.project-grid-item:hover {
    transform: scale(0.9);
    transition: transform 0.5s;
}

.project-grid-item img {
    width: 100%;
    cursor: pointer;
}

.project-grid-item img:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.project-grid-item h3 {
    color: var(--main_text);
    font-family: BDOGrotesk;
    margin-top: 0;
}